@import "foundation/settings";
@import "foundation/components/grid";
@import "variables";

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

body {
    font-family: $main-font-stack;
    color: $main-text-color;
}

h1 {
    font-size: 1.375rem;
    font-weight: 400;
    color: $title-text-color;
    margin-bottom: .25rem;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    color: #1A1A1A;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
}

h3 {
    font-size: 16px;
    color: #262626;
    font-weight: 600;
    margin-bottom: -.25rem;
    margin-top: 0;
}

header {
    padding: 1.5rem 0;
    font-size: 18px;
    color: #505050;

    span.text {
        display: inline-block;
        padding: .5rem 0;
    }

    .logo {
        margin-right: 20px;
        width: 34px;
    }

    .circle {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 4px;
        background-color: $pink-text-color;
    }
}

section.contact {
    .slack, .social {
        background-color: #EAF0F4;
        border-radius: 4px;
    }

    .slack {
        margin-bottom: 10px;
        padding: 2rem 0;

        img {
            width: 106px;
        }

        p {
            color: #5A5A5A;
        }

        input[type="text"] {
            border: none;
            border-radius: 2px;
            height: 38px;
            padding-left: 20px;
            font-size: 16px;
            width: 240px;
            font-family: "Proxima Nova";
        }

        input[type="submit"] {
            border: none;
            border-radius: 2px;
            color: white;
            background-color: #178EEA;
            height: 38px;
            padding: 0 1.5rem;
            font-size: 16px;
            font-family: "Proxima Nova";
        }
    }

    .social {
        padding: 1rem 0;
    }
}

section.announcements {
    > .row {
        padding-bottom: 2rem;
        border-bottom: 1px solid #EAF0F4;
    }

    span.time {
        font-size: 14px;
        color: #848484;
    }

    p {
        margin-top: .3rem;
        font-size: 14px;
        color: #444444;
    }
}


section.schedule {
    padding-bottom: 3rem;

    .separator {
        margin-top: .25rem;
        height: 1px;

        div {
            height: 100%;
            width: 100%;
            background-color: #E0E0E0;
        }
    }

    .table-header {
        font-weight: 600;
        margin-bottom: 1rem;
    }

    span.end-time {
        display: block;
        font-size: 14px;
        color: #838383;
        font-weight: 300;
        line-height: 12px;
    }

    .table-entry {
        margin-bottom: 1rem;
    }
}